
@import url('https://fonts.googleapis.com/css2? family= Krona+One & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Krona+One & family= Montserrat & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Krona+One & family= Montserrat:ital,wght@0,400;1,600 & display=swap');

* {

    margin: 0;
    padding: 0;

}

body {

    box-sizing: border-box;
    background-color:black;
    color: #F6F6F6;
    height: 100vh;

}

.titulo-destaque {

    color: #22d4fd;

}

.apresentacao {

    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}

.conteudo {

    width: 615px ;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.conteudo_titulo {

    font-size: 40px;
    font-family: 'Krona One', sans-serif;
}

.conteudo_texto {

    font-size: 24px;
    font-family: 'Montserrat', sans-serif;

}
.botoes{

    display: flex;
    justify-content: space-between;

}

.conteudo_links{

    background-color: #22d4fd;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    color:black;
    padding: 21.5px 0 ;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    

}
